__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json
/sd_scripts/dataset/dreambooth
/sd_scripts/dataset/dreambooth_out
/sd_scripts/dataset/dreambooth_reg
/sd_scripts/dataset/lora
/sd_scripts/dataset/lora_out
/sd_scripts/dataset/lora_reg
/sd_scripts/logs
/sd_scripts/finetune/wd14_tagger_model
/sd_scripts/venv
*.egg-info
/sd_scripts/build

